@namespace EXCSLA.UI.Blazor.Controls.LoadingSpinner
<div class="circle-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>