@page "/"

<h1>EXCSLA's Blazor Controls!</h1>

Welcome to the app.

<p>Click to see info about the following controls.</p>
<ul>
    <li><NavLink href="/alerts">Alerts</NavLink></li>
    <li><NavLink href="/DataTables">Data Tables</NavLink></li>
</ul>
<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
}